pipeline/L3_CloudStorage.json
{
	"name": "L3_CloudStorage",
	"properties": {
		"activities": [
			{
				"name": "LU_get_L3_File_Type",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select distinct L3_switch_type from dbo.tbl_job a\r\njoin dbo.tbl_trigger b on a.trigger_id =b.trigger_id\r\nwhere b.trigger_name = '@{pipeline().parameters.Trigger}'\r\n\r\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ONPREM_SQL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Cloud storage",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "LU_get_L3_File_Type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('LU_get_L3_File_Type').output.firstRow.L3_switch_type",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "GCP",
							"activities": [
								{
									"name": "Wait2",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						},
						{
							"value": "AWS",
							"activities": [
								{
									"name": "Wait3",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						},
						{
							"value": "AZURE",
							"activities": [
								{
									"name": "exe_L4_PL",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "L4_File_Type",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Trigger": {
												"value": "@pipeline().parameters.Trigger",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Trigger": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-10-23T02:58:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}